* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
.main-header {
  background: #191919 none repeat scroll 0 0;
  padding: 25px 0;
  height: 370px;
}

.wrapper {
  width: 1170px;
  margin:0 auto;

}
.main-section{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.telephone {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.social-facebook {
  color: #fff;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 25px;
}
.menu-item {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .menu-item:hover {
    color: #c7c6c6;
  }
.image1 {
	width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  transform: skewY(-3.6deg);
  margin:-75px 0px 75px 0px;
  z-index: 2;
}
.image1__img {
  width: 100%;
}
.wrap_container{
  width: 1170px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  transform: skewY(-3.6deg);
}
.left,
.right {
  width: 50%;
}
.container1 {
  background: #191919 none repeat scroll 0 0;
  transform: skewY(3.6deg);
  margin:-80px 0px 80px 0px;
  padding-top: 80px;
  height: 510px;
  padding-top: 80px;
  height: 510px;
}
.left {
  margin: 10px;
  padding: 10px;
}
.left__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.left_content {
  color: #888888;
  font-size: 15px;
  text-align: justify
}
.left__title--bold{
  font-weight: bold;
}
.right {
  margin: 10px;
  padding: 10px;
}
.right__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.right__title--bold{
  font-weight: bold;
  }

.right_content{
  color: #888888;
  font-size: 15px;
  text-align: justify
}
.image_intro {
  width: 181px;
  height: 146px;
  float: left;
  padding: 0px;
  margin-right: 10px;
}
.locate_img {
  padding: 0px 10px 0px 0px;
}
.time_img {
    padding: 0px 10px 0px 0px;
}
.container2{
  background: #191919;
  padding-top: 4px;
  margin-top: 25px;
  transform: skewY(-4deg);
  
}
.wrap_container2 {
  background: #fff;
  transform: skewY(1deg);
  width: 1170px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
}
.article1 {
  transform: skewX(4deg);
  padding: 30px 20px 60px 20px;
  width: 50%;
}

.article_left {
  margin: 10px;
  padding: 10px;
  transform: skewY(4deg);
}
.article_left__title {
  color: #191919;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.article_left__title--bold{
    font-weight: bold;
}

.container3 {
  background: #191919;
  padding-top: 4px;
  margin-top: 25px;
  transform: skewY(-4deg);
}
.wrap_container3 {
  background: #fff;
  transform: skewY(1deg);
  width: 1170px;
  margin: 0 auto;

}
