* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.main-header {
  background: #191919 none repeat scroll 0 0;
  padding: 25px 0;
  height: 370px;
}

.wrapper {
  width: 1170px;
  margin:0 auto;

}
.main-section{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.telephone {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.social-facebook {
  color: #fff;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 25px;
}
.menu-item {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .menu-item:hover {
    color: #c7c6c6;
  }
.image1 {
	width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  transform: skewY(-3.6deg);
  margin:-75px 0px 75px 0px;
  z-index: 2;
}
.image1__img {
  width: 100%;
}
.wrap_container1{
  width: 1170px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  transform: skewY(-3.6deg);
}
.left,
.right {
  width: 50%;
}
.container1 {
  background: #191919 none repeat scroll 0 0;
  transform: skewY(3.6deg);
  margin:-80px 0px 80px 0px;
  padding-top: 80px;
  height: 510px;
  padding-top: 80px;
  height: 510px;
}
.left {
  margin: 10px;
  padding: 10px;
}
.left__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.left_content {
  color: #888888;
  font-size: 15px;
  text-align: justify
}
.left__title--bold{
  font-weight: bold;
}
.right {
  margin: 10px;
  padding: 10px;
}
.right__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.right__title--bold{
  font-weight: bold;
  }

.right_content{
  color: #888888;
  font-size: 15px;
  text-align: justify
}
.image_intro {
  width: 181px;
  height: 146px;
  float: left;
  padding: 0px;
  margin-right: 10px;
}
.locate_img {
  padding: 0px 10px 0px 0px;
}
.time_img {
    padding: 0px 10px 0px 0px;
}
.container2{
  margin:-80px 0px 80px 0px;

}
.wrap_container2 {
  background: #fff;
  width: 1170px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
}
.article1 {
  padding: 30px 20px 60px 20px;
  width: 50%;
}

.article_left {
  margin: 10px;
  padding: 10px;

}
.article_left__title {
  color: #191919;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.article_left__title--bold{
    font-weight: bold;
}
.wrapfa{
  width: 150px;
  font-size: 21px;
  justify-content: flex-start;
}

.fa {
  margin-right: 15px;
}
.slider_botton_line {
   display: flex;
   flex-flow: row nowrap;
   height: 234px;
   overflow: hidden;
}
.slider_botton {
  width: 20%;
  z-index: 1;
}
.slider_boton_info {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
     font-family: "Great Vibes",cursive;
     font-size: 26px;
     font-weight: 400;
     height: 100%;
     left: 0;
     line-height: 40px;
     opacity: 0;
     padding: 46px 0;
     position: absolute;
     text-decoration: none;
     top: 0;
     width: 100%;
     text-align: center;
}
a {
    color: inherit;
.container3 {
  background: #191919 none repeat scroll 0 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  transform: skewY(-3.6deg);
  margin:-75px 0px 75px 0px;

}
.wrap_container3 {
  width: 1170px;
  margin:0 auto;

}

.article2 {
  width: 100%;
  transform: skewY(3.6deg);
}
.container4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin:75px 0px 75px 0px;
}
.wrap_container4 {
  background: #fff;
  width: 1170px;
  margin:0 auto;
  display: flex;
  flex-direction: row;

}
.article3 {
    padding: 30px 20px 60px;
}
.article_center1 {
  margin: 10px;
  padding: 10px;
}
.article_center1__title {
  color: #191919;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
  }
  .article_center1__title--bold{
  font-weight: bold;
  }
  .wrapgaleryl{
  height: 1000px;
  }

  .image_grey {
  display: inline-block;
  margin-right: 5px;
  }

  .container5 {
  background: #191919 none repeat scroll 0 0;
  transform: skewY(3.6deg);
  margin:-80px 0px 80px 0px;
  padding-top: 80px;
  height: 510px;
  padding-top: 80px;
  height: 510px;

  }
 .wrap_container5 {
   width: 1170px;
   margin:0 auto;
   display: flex;
   flex-direction: row;
   transform: skewY(-3.6deg);
  }


  }
  .article_center2{
    margin: 10px;
    padding: 10px;
  }
  .blog_center_title {
    color: #fff;
    font-size: 48px;
    padding: 20px 0px 20px 0px ;
    font-weight: 300;
    text-transform: uppercase;


  }
  .center__title--bold {
  font-weight: bold;

  }
  .blog__items-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 -15px;
  }
  .blog__item-title {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 400;

  .content__text {
      color: #888;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
    }
  .blog__item-link {

  }
  .a {
      color: inherit;
  }
  .blog__item-link {

  }
 .blog__item-info {

}


  .blog_image {
    display: inline-block;
    margin-right: 5px;
  }
  .wrapblog {
      height: 1000px;
  }
  .line {
    margin: 0 -15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .size_image_line {
   width: 25%;
   padding: 0 15px;
   margin: 0px 0px 10px 0px;
}
