.wrap_container1 {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transform: skewY(-3.6deg);
  -ms-transform: skewY(-3.6deg);
  transform: skewY(-3.6deg);
}
.left,
.right {
  width: 50%;
}
.container1 {
  background: #191919 none repeat scroll 0 0;
  -webkit-transform: skewY(3.6deg);
  -ms-transform: skewY(3.6deg);
  transform: skewY(3.6deg);
  margin: -80px 0px 80px 0px;
  padding-top: 80px;
  height: 510px;
}
.left {
  margin: 10px;
  padding: 10px;
}
.left__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.left_content {
  color: #888888;
  font-size: 15px;
  text-align: justify;
}
.left__title--bold {
  font-weight: bold;
}
.right {
  margin: 10px;
  padding: 10px;
}
.right__title {
  color: #fff;
  font-size: 48px;
  padding: 20px 0px 20px 0px ;
  font-weight: 300;
  text-transform: uppercase;
}
.right__title--bold {
  font-weight: bold;
}
.right_content {
  color: #888888;
  font-size: 15px;
  text-align: justify;
}
.image_intro {
  width: 181px;
  height: 146px;
  float: left;
  padding: 0px;
  margin-right: 10px;
}
.locate_img {
  padding: 0px 10px 0px 0px;
}
.time_img {
  padding: 0px 10px 0px 0px;
}
